
<h2 id="{{event.id}}">{{event.name}} {{event.year}}</h2>

<table>
    <tr>
        <td><strong>Location</strong></td>
        {% if event.city %}
            <td>{{event.city}}, {{event.country.name}} :{{event.country.flag}}:</td>
        {% else %}
            <td>Online</td>
        {% endif %}
    </tr>
    <tr>
        <td><strong>Date</strong></td>
        {% if event.dateEnd %}
            <td>{{ event.dateStart | date: "%B %e, %Y" }} - {{ event.dateEnd | date: "%B %e, %Y" }}</td>
        {% else %}
            <td >{{ event.dateStart | date: "%B %e, %Y" }}</td>
        {% endif %}
    </tr>
    {% for appearance in event.appearances %}
        {% assign talk = site.data.talks | where: "id", appearance.id | first %}    
        {% include events/partial/talk.html event=event %}
    {% endfor %}
</table>
<br/>