<tr>
    <td><strong>Talk</strong></td>
    <td>
        {% if talk.title %}
            <a href="/talks/#{{talk.id}}">{{talk.title}}</a>
        {% else %}
            (to be announced)
        {% endif %}
    </td>
</tr>

{% if talk.cospeakers != null and talk.cospeakers.size > 0 %}
    {% include events/partial/cospeakers.html cospeakers=talk.cospeakers %}
{% endif %}
{% if appearance.cospeakers != null and appearance.cospeakers.size > 0 %}
    {% include events/partial/cospeakers.html cospeakers=appearance.cospeakers %}
{% endif %}

{% include events/partial/resources.html %}
