---
---

@import "{{ site.theme }}";

@media print, screen and (max-height: 920px) {
    footer {
        text-align: center;
        margin: 20px auto;
        position: relative;
        left: auto;
        bottom: auto;
        width: auto;
    }
}

@media print, screen and (max-width: 480px) {
    #banner {
        display: block;
        position: relative;
        top: 0px;
    }
}