{% capture nowUnix %}{{'now' | date: '%s'}}{% endcapture %}
{% assign upcomingEvents = "" | split: "" %}

{% for event in site.data.events | sort: 'date' | reverse %}
    {% if event.dateEnd %}
        {% capture eventTime %}{{event.dateEnd | date: '%s'}}{% endcapture %}
        {% capture eventTitle %}{{event.name}} {{event.year}} ({{event.dateStart | date: '%B %e, %Y'}}{{event.dateEnd | date: '%B %e, %Y' | prepend: ' - ')}}{% endcapture %}
    {% else %}
        {% capture eventTime %}{{event.dateStart | date: '%s'}}{% endcapture %}
        {% capture eventTitle %}{{event.name}} {{event.year}} ({{event.dateStart | date: '%B %e, %Y')}}{% endcapture %}
    {% endif %}
    
    {% if nowUnix < eventTime or eventTime == '' %}
        {% assign upcomingEvents = upcomingEvents | push: event | sort: 'dateStart' %}
    {% endif %}
{% endfor %}

<figure class="third">
{% for event in upcomingEvents %}
  {% if event.dateEnd %}
    {% capture eventTitle %}{{event.name}} {{event.year}} ({{event.dateStart | date: '%B %e, %Y'}}{{event.dateEnd | date: '%B %e, %Y' | prepend: ' - '}}){% endcapture %}
  {% else %}
    {% capture eventTitle %}{{event.name}} {{event.year}} ({{event.dateStart | date: '%B %e, %Y'}}){% endcapture %}
  {% endif %}

  <a href="events#{{event.id}}" title="{{eventTitle}}">
    <img src="../../assets/images/conference-logos/{{event.logo}}" alt="{{event.name}} {{event.year}}" width="250em">
  </a>
{% endfor %}
</figure>
